
.imagename{
    font-size: medium;
    font-weight: bold;
    color: rgb(85, 9, 13);
    text-align: center;
}

#topic{
    font-weight: bold;
    font-size: 30px;
    color: brown;
    text-align: center;
    margin-top: 10px;
}

.body {
    background-color: rgb(248, 218, 179);
}